run-name: Release-Build
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: linux
          goarch: amd64
          release_tag: latest
          binary_name: go-generator-repository-bin
          asset_name: "go-generator-repository"
          compress_assets: OFF
          overwrite: TRUE